
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Iron Market</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<!-- Nav-bar start -->


<div class="row mx-auto bg-light ">

    <nav class="navbar navbar-expand-lg navbar-light  mx-auto ">
        <div class="container-fluid">
          <a class="navbar-brand" href="/">Iron Market</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 mx-auto">
              <li class="nav-item"><a class="nav-link active" aria-current="page" href="/">Home</a></li>
              <li class="nav-item"> <a class="nav-link " aria-current="page" href="#">For Buyer</a></li>
              <li class="nav-item"><a class="nav-link " aria-current="page" href="#">For Seller</a> </li>
              <li class="nav-item">  <a class="nav-link " aria-current="page" href="#">About</a></li>
              <li class="nav-item"> <a class="nav-link " aria-current="page" href="#">Contact Us</a> </li>      
            </ul>    
            <div class="signup_logout ">
                <a href="login"><button type="button" class="btn btn-primary">Login</button></a>
                <a href="/signup"><button type="button" class="btn btn-primary" > Sign-in</button>   </a>
                
              </div>  
          </div>
    
         
    
        </div>
      </nav>
    
</div>

<!-- Nav-bar End -->
<body>


{% block content %} {% endblock %}


<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>