
{% extends 'base.html' %}
{% load static %}



    





{% block content %}



<!-- Background Image start -->

<div class="row bg_img fluid m-0 p-0" style="background-image: url({% static 'images/bg2.jpg' %});" >

<div class="row background_content text-white text-center mt-5">
  <h1>Online marketplace for spare parts, <br>services and solutions</h1>
  
</div>

 
<div class=" row w-75 mx-auto">
  <div class="d-flex search  ">
    <div class="col-lg-6 "><input class="form-control " type="search" placeholder="Search" aria-label="Search"></div>
    <div class="col-lg-4"><button class="btn btn-primary" type="submit">Search</button></div>
  </div>
</div>
    
  
 </div>
  
    

</div>

<!-- Background Image End -->


<!-- Product part start -->

<div class="row container mx-auto ">

  <div class="product_content text-center mt-5">
    <h1>BEST-SELLING CATEGORIES</h1>
  <p>Equipment and Spares from over 18,000 and growing Manufacturers and Traders worldwide.
   <br> Source equipment and spares on our Database of Reliable Sellers.</p>

  </div>

  <div class="row">

    <div class="col-12 col-md-6 col-lg-4 mb-2 ">
      <div class="card text-center" style="width: 18rem;">
        <img src="{% static 'product/p5.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title fs-8">CARBON STEEL GATE VALVE ANSI FLANGED</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">More Details</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="card text-center" style="width: 18rem;">
        <img src="{% static 'product/p6.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title fs-8">CARBON STEEL GATE VALVE ANSI FLANGED</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">More Details</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="card text-center" style="width: 18rem;">
        <img src="{% static 'product/p7.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title fs-8">CARBON STEEL GATE VALVE ANSI FLANGED</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">More Details</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="card text-center" style="width: 18rem;">
        <img src="{% static 'product/p5.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title fs-8">CARBON STEEL GATE VALVE ANSI FLANGED</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">More Details</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="card text-center" style="width: 18rem;">
        <img src="{% static 'product/p5.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title fs-8">CARBON STEEL GATE VALVE ANSI FLANGED</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">More Details</a>
        </div>
      </div>
    </div>

    <div class="col-12 col-md-6 col-lg-4">
      <div class="card text-center" style="width: 18rem;">
        <img src="{% static 'product/p5.jpg' %}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title fs-8">CARBON STEEL GATE VALVE ANSI FLANGED</h5>
          <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
          <a href="#" class="btn btn-primary">More Details</a>
        </div>
      </div>
    </div>


    

  </div>
  
</div>
<!-- Product part End -->

{% endblock %}
