
{% extends 'base.html' %}

{% block content %}


    <div class="container " >
  <div class="row" >
    
    <div class="col-5 bg-light mx-auto p-2" style="margin-top: 50px;">
      <h3 class="mt-3 mb-3">Personal Information </h3>


      <div class="mb-3">
        <label  class="form-label">Username</label>
        <input type="email" class="form-control"  placeholder="example@gmail.com">
      </div>

      <div class="mb-3">
        <label  class="form-label">Password</label>
        <input type="password" class="form-control"  placeholder="">
      </div>

      
      <div class="text-center m-3"><button type="button" class="btn btn-danger">Login</button></div>
    </div>  
  </div> 
</div>
   
{% endblock %}
       
       
    

